# Directories #
/build/
/bin/
target/
**/orb.db/
 
# OS Files #
.DS_Store
 
*.class
**/*.log
 
# Package Files #
*.war
*.ear
 
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 .recommenders/
 # Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath
ReplicaManager/concordia_Student_Files/username_c1.txt

ReplicaManager/concordia_Student_Files/username_c2.txt

ReplicaManager/concordia_Student_Files/username_c3.txt

ReplicaManager/ConcordiaLog.txt

ReplicaManager/mcgill_Student_Files/username_m1.txt

ReplicaManager/mcgill_Student_Files/username_m2.txt

ReplicaManager/mcgill_Student_Files/username_m3.txt

ReplicaManager/sherbrooke_Student_Files/username_s1.txt

ReplicaManager/sherbrooke_Student_Files/username_s2.txt

ReplicaManager/sherbrooke_Student_Files/username_s3.txt

ReplicaManager/sherbrooke_log.txt

ReplicaManager/McgillLog.txt

ReplicaManager/concordia_log.txt

ReplicaManager/mcgill_log.txt

ReplicaManager/SherbrookeLog.txt

ReplicaManager/concordia_admin_log.txt

ReplicaManager/mcgill_admin_log.txt

ReplicaManager/sherbrooke_admin_log.txt
